body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.d-flex {
    display: flex;
    margin-bottom: 170px;
}

.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 48%;
    padding-left: 2%;
    margin-left: 5%;
}

img {
    width: 80%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.text-orange {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(225deg, orangered, orange);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bolder;
}

.dream-big {
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.experiences {
    background: url("images/exp-bg.png") no-repeat;
    background-position-x: -1rem;
    background-position-y: 13rem;
}

.experiences .half-width {
    margin: 0px 61px;
    box-shadow: rgb(143, 141, 141) 0px 0px 44px;
    padding: 16px 35px;
}

#baby-dev {
    margin-right: 3rem;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, salmon, tomato);
    border-image-slice: 1;
}

footer {
    text-align: center;
    font-size: 18px;
}